# Задача 1

Используя данные о хоккеистах (скачать можно здесь), проверьте, является ли среди хоккеистов из Финляндии, Норвегии и Дании значимым отличие: а) роста, б) BMI.

In [77]:
import numpy as np
import pandas as pd

In [78]:
df = pd.read_csv('./hockey_players.csv')
df.head()

,year,country,no,name,position,side,height,weight,birth,club,age,cohort,bmi
0,2001,RUS,10,tverdovsky oleg,D,L,185,84.0,1976-05-18,anaheim mighty ducks,24.952772,1976,24.543462
1,2001,RUS,2,vichnevsky vitali,D,L,188,86.0,1980-03-18,anaheim mighty ducks,21.119781,1980,24.332277
2,2001,RUS,26,petrochinin evgeni,D,L,182,95.0,1976-02-07,severstal cherepovetal,25.229295,1976,28.680111
3,2001,RUS,28,zhdan alexander,D,R,178,85.0,1971-08-28,ak bars kazan,29.675565,1971,26.827421
4,2001,RUS,32,orekhovsky oleg,D,R,175,88.0,1977-11-03,dynamo moscow,23.490760,1977,28.734694

In [79]:
df_fin = df[df['country'] == 'FIN']
df_fin.head()

,year,country,no,name,position,side,height,weight,birth,club,age,cohort,bmi
120,2001,FIN,2,kiprusoff marko,D,R,184,89.0,1972-06-06,ehc kloten,28.900753,1972,26.287807
121,2001,FIN,3,nummelin petteri,D,L,178,83.0,1972-11-25,columbus blue jackets,28.429843,1972,26.196187
122,2001,FIN,4,timonen kimmo,D,L,178,88.0,1975-03-18,nashville predators,26.121834,1975,27.774271
123,2001,FIN,40,niemi antti-jussi,D,L,185,87.0,1977-09-22,anaheim mighty ducks,23.605749,1977,25.420015
124,2001,FIN,5,salo sami,D,R,192,99.0,1974-09-02,ottawa senators,26.661191,1974,26.855469

In [80]:
df_nor = df[df['country'] == 'NOR']
df_nor.head()

,year,country,no,name,position,side,height,weight,birth,club,age,cohort,bmi
237,2001,NOR,15,norstebo svein enok,D,L,179,86.0,1972-02-26,linkoping hc,29.177276,1972,26.840610
238,2001,NOR,17,knold martin,D,L,178,77.0,1976-01-14,linkoping hc,25.295003,1976,24.302487
239,2001,NOR,22,nilsen johnny,D,L,183,85.0,1975-01-27,frisk asker,26.258727,1975,25.381469
240,2001,NOR,23,trygg mats,D,R,179,80.0,1976-06-01,farjestads bk,24.914442,1976,24.968010
241,2001,NOR,24,wold ketil,D,L,183,93.0,1972-03-20,frisk asker,29.114305,1972,27.770313

In [81]:
df_den = df[df['country'] == 'DEN']
df_den.head()

,year,country,no,name,position,side,height,weight,birth,club,age,cohort,bmi
878,2003,DEN,16,jensen dan,D,R,184,90.0,1969-01-16,herning ik,34.286105,1969,26.583176
879,2003,DEN,23,akesson frederik,D,L,192,94.0,1966-08-27,aalborg ik,36.676249,1966,25.499132
880,2003,DEN,25,andreasen andreas,D,L,184,96.0,1976-03-01,esbjerg ik,27.164956,1976,28.355388
881,2003,DEN,3,duus jesper,D,L,188,90.0,1967-11-24,herlev ik,35.433265,1967,25.464011
882,2003,DEN,5,nielsen daniel,D,R,180,74.0,1980-10-31,herning ik,22.496920,1980,22.839506

## Проверка признака height

In [82]:
fin_height = df_fin['height']
nor_height = df_nor['height']
den_height = df_den['height']

n_fin = df_fin.shape[0]
n_nor = df_nor.shape[0]
n_den = df_den.shape[0]

n_fin, n_nor, n_den

(396, 290, 340)

In [83]:
#выборочные средние по каждой группе
fin_height_mean = fin_height.mean()
nor_height_mean = nor_height.mean()
den_height_mean = den_height.mean()

fin_height_mean, nor_height_mean, den_height_mean

(183.86868686868686, 182.94137931034481, 184.0)

In [84]:
players_height = np.concatenate([fin_height, nor_height, den_height])
players_height, players_height.shape

(array([184, 178, 178, ..., 188, 186, 176], dtype=int64), (1026,))

In [85]:
players_height_mean = players_height.mean()
players_height_mean

183.65009746588694

In [86]:
SS_b = n_fin * (fin_height_mean - players_height_mean) ** 2 + n_nor * (nor_height_mean - players_height_mean) ** 2 
+ n_den * (den_height_mean - players_height_mean) ** 2

SS_w = ((fin_height - fin_height_mean) ** 2).sum() + ((nor_height - nor_height_mean) ** 2).sum() 
+ ((den_height - den_height_mean) ** 2).sum()

SS_b, SS_w

(164.58301845706583, 16771.175165447577)

In [87]:
#найдем оценки дисперсии
k = 3
n = players_height.shape[0]

k1 = k - 1
k2 = n - k

sigma2_b = SS_b / k1
sigma2_w = SS_w / k2

sigma2_b, sigma2_w

(82.29150922853292, 16.394110621160877)

In [88]:
#статистика
F = sigma2_b / sigma2_w
F

5.019577525743559

In [89]:
alpha = 0.05

In [90]:
from scipy import stats

In [91]:
t = stats.f.ppf(1-alpha , k1, k2)
t

3.0045220661840073

Значение статистики попало в критическую область, значит различие в росте является статистически значимым

## Проверка признака bmi

In [92]:
fin_bmi = df_fin['bmi']
nor_bmi = df_nor['bmi']
den_bmi = df_den['bmi']

In [93]:
#выборочные средние по каждой группе
fin_bmi_mean = fin_bmi.mean()
nor_bmi_mean = nor_bmi.mean()
den_bmi_mean = den_bmi.mean()

fin_bmi_mean, nor_bmi_mean, den_bmi_mean

(25.96327037123672, 25.961854727875714, 25.187289043708706)

In [94]:
players_bmi = np.concatenate([fin_bmi, nor_bmi, den_bmi])
players_bmi

array([26.28780718, 26.19618735, 27.77427093, ..., 22.63467632,
       23.7021621 , 24.21229339])

In [95]:
players_bmi_mean = players_bmi.mean()
players_bmi_mean

25.705722429780387

In [96]:
SS_b = n_fin * (fin_bmi_mean - players_bmi_mean) ** 2 + n_nor * (nor_bmi_mean - players_bmi_mean) ** 2 
+ n_den * (den_bmi_mean - players_bmi_mean) ** 2

SS_w = ((fin_bmi - fin_bmi_mean) ** 2).sum() + ((nor_bmi - nor_bmi_mean) ** 2).sum() 
+ ((den_bmi - den_bmi_mean) ** 2).sum()

SS_b, SS_w

(45.292141787766624, 1226.738630417893)

In [97]:
sigma2_b = SS_b / k1
sigma2_w = SS_w / k2

sigma2_b, sigma2_w

(22.646070893883312, 1.1991579964984291)

In [98]:
#статистика
F = sigma2_b / sigma2_w
F

18.88497675870102

In [99]:
t = stats.f.ppf(1-alpha , k1, k2)
t

3.0045220661840073

Значение статистики попало в критическую область, значит различие в росте является статистически значимым